// --main-bg-color: #EFF1F3;
// --main-dark: #272727;
// --main-light: #696773;
// --button: #009FB7;
// --alt-color: #FED766;
// --main-light-shade: #DCE0E5;

.productWrapper {
  margin: 0 auto;
  max-width: 1500px;
  background: red;
  position: relative;
  margin-top: 0px;
}


.returnPolicy {

}